

{# set current page title #}
{{ tsfePagetitle(tsfe.indexedDocTitle ~ ' | TWIGTEMPLATE: ' ~ title) }}

<div style="background: rgb(0, 99, 175); color: white; padding: 20px;">
    <h2> {{ title }}</h2>
    {{
        t3image(
            'EXT:t3twig/ext_icon.png',
            {
                'params' : 'style="float:left; margin: 0 10px 10px 0;"'
            }
        )
    }}
    <p>
        {{ description }}
        <br />
        {{
            'Dies ist ein Hyperlink'|t3link(
            {
                'destination' : url,
                'ts_config' : {
                    "extTarget" : '_blank',
                    "atagparams" : {
                        "style" : "color: white; text-decoration: underline; font-weight: bold;"
                    }
                }
            }
            )
        }}
        <br />
    </p>
    <div style="clear:both;"></div>
    <h4 style="margin-top: 20px;">Usage:</h4>
    <pre>
10 = TWIGTEMPLATE
10 {
    file = EXT:t3twig/Resources/Private/Template/Example.html.twig
    context {
        title = Hello World
        description = Dies ist nur ein testtemplate!
    }
}</pre>
</div>


